{% extends 'app/base.html' %}
{% load static %}
{% block title %}Clothing{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <h4>Filter</h4>
                <a href="{% url 'clothing' %}" class="list-group-item list-group-item-action" aria-current="true">All Clothing</a>
                <a href="{% url 'clothing_flt' 'TW' %}" class="list-group-item list-group-item-action" aria-current="true">Top Wear</a>
                <a href="{% url 'clothing_flt' 'BW' %}" class="list-group-item list-group-item-action" aria-current="true">Bottom Wear</a>
                <br>
                <br>
                <h4>Sort by price</h4>
                <a href="{% url 'clothing_flt' 'Below1000' %}" class="list-group-item list-group-item-action"
                    aria-current="true">Below 1000</a>
                <a href="{% url 'clothing_flt' '500-1000' %}" class="list-group-item list-group-item-action"
                    aria-current="true">500-1000</a>
                <a href="{% url 'clothing_flt' 'Above1000' %}" class="list-group-item list-group-item-action"
                    aria-current="true">Above1000</a>
            </div>
        </div>
        <div class="col-sm-8 offset-sm-1">
            <div class="row">
                {% for product in clothing %}
                <div class="col-sm-4 text-center shadow-sm mb-4">
                    <a href="{% url 'product-detail' product.id %}" class="btn">
                        <div class="item">
                            <img src="{{product.product_image.url}}" alt="" height="250" class="">
                            <div class="fw-bold">{{product.title|slice:":50"}}</div>
                            <div class="fw-bold pt-2">Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}