{% extends 'app/base.html' %}
{% load static %}
{% block title %}Reset Password Complete{% endblock title %}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3 text-center">
            <h3>Yay!! Password Reset Successfully</h3>
            <div class="tenor-gif-embed" data-postid="13138342" data-share-method="host" data-aspect-ratio="1"
                data-width="200" data-height="200"><a
                    href="https://tenor.com/view/discord-discordgifemoji-check-gif-13138342"></a></div>
            <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </div>
    </div>
</div>
{% endblock main-content %}