{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password change success{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Yay!! {{user|title}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1 text-center">
        <h3>Password Changed Successfully</h3>
        <div class="tenor-gif-embed" data-postid="13138342" data-share-method="host" data-aspect-ratio="1" data-width="200" data-height="200"><a href="https://tenor.com/view/discord-discordgifemoji-check-gif-13138342"></a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>
        </div>
    </div>
</div>
{% endblock main-content %}