{% extends 'app/base.html' %}
{% load static %}
{% block title %} Search results {% endblock title %}
{% block main-content %}
<div class="container ">
    <br>
    <div>
        <h2>Search results for: {{query}} </h2>
        <hr>
        {% if context|length < 1%} 
        <p> OOPS!! No search results</p>
        Your search query : <b>"{{query}}"</b> did not match any products. <br>
        Suggestions:
        <ul>
            <li>Make sure that all words are spelled correctly.</li>
            <li>Try more general keywords.</li>
            <li>Try fewer keywords.</li>
            <li>Try different keywords.</li>
            </li>
        </ul>
        <hr>
        {% endif %}
    </div>
    <div class="col-sm-10 offset-sm-1">
        <div class="row">
            {% for product in context %}
            <div class="col-sm-4 text-center shadow-sm mb-4">
                <a href="{% url 'product-detail' product.id %}" class="btn">
                    <div class="item">
                        <img src="{{product.product_image.url}}" alt="" height="200" width="200" style="object-fit: contain;">
                        <div class="fw-bold">{{product.title|truncatechars:40}}</div>
                        <div class="fw-bold">Rs. {{product.discounted_price}} <small class="fw-light text-decoration-line-through">{{product.selling_price}}</small></div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main-content %}